
* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}


/* Style the header and footer --------------------------------------------------------------------- */
header {
  background-color: #6495ED;
  padding: 30px;
  text-align: left;
  font-size: 35px;
  color: white;
}

footer {
  background-color: #6495ED
  padding: 10px;
  text-align: left;
  color: white;
}

/* Style the main body --------------------------------------------------------------------- */

h2{
  font-size: 20px;
  color: navy
}

a,li,p {
  font-size: 18px;
  color: navy;
}

/* Create two columns/boxes that floats next to each other ----------------------------------- */
nav {
  float: left;
  width: 20%;
  background: #ccc;
  padding: 20px;
  background-color: white;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: grey;
}

/* Clear floats after the columns ------------------------------------- */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Transform the logos------------------------------------------------------------------------ */
.logos img {
    transition: transform 0.2s;
    transform: scale(1);
    margin-right: 20px;
}
.logos img:hover {
    transition: transform 0.2s;
    transform: scale(1.4)
}
