* {
  margin:5px;
  padding:5px;
  font-family: Helvetica;
  background-color: #6495ED
  border-bottom: 4px navy
}

h2{
  font-size: 20px;
  background-color: navy
  color: white
}

a,li,p {
  font-size: 18px;
  color: navy;
}



.logos img {
    transition: transform 0.2s;
    transform: scale(1);
    margin-right: 20px;
}

.logos img:hover {
    transition: transform 0.15s;
    transform: scale(1.4)
}

.nav_link_wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
}

.nav_link_wrapper a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

